*{
    margin: 0;
    padding: 0;
}
.electricity-container {
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-radius: 100px;

  }
  .electricity-container img{
    filter: blur(0px);
    animation: blur-fade 3s infinite;
  }
  @keyframes blur-fade {
    0% {
      filter: blur(0px);
    }
    50% {
      filter: blur(2px);
    }
    100% {
      filter: blur(0px);
    }
  }
  .electricity {
    position: absolute;
    border: 1px dotted red;
    background-color: red;
    width: 30%;
    box-shadow: 0px 0px 10px 2px red ;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    animation: recog-animation 3s infinite alternate ease-in-out;
  }
  @keyframes recog-animation {
    0% {
      top: 0%;
    }
    100% {
      top: 98%;
    }
  }